---
# Dummy variable to avoid error because ansible does not recognize the
# file as a good configuration file when no variable in it.
dummy:

cluster: ceph

openstack_config: true
ceph_origin: repository
ceph_repository: community
ceph_stable_release: luminous

osd_objectstore: bluestore
osd_scenario: lvm
lvm_volumes:
  - data: data
    data_vg: ceph

public_network: "192.168.1.0/24"
monitor_interface: eno1
pool_default_pg_num: 32
common_single_host_mode: true

generate_fsid: false
# If you want you can generate a new fsid using command uuidgen
fsid: {{ ceph_fsid | default('a9cb5460-373a-4b61-95cd-923ef6d1a14a') }}

# To be able to remove pools add: "mon allow pool delete: true"
ceph_conf_overrides:
  global:
    mon pg warn max per osd: 0
    osd pool default size: 1

radosgw_interface: eno1
radosgw_address: '0.0.0.0'
radosgw_address_block: subnet

radosgw_civetweb_port: 8088
radosgw_civetweb_num_threads: 100
radosgw_civetweb_options: "num_threads=100"

radosgw_frontend_type: civetweb
radosgw_frontend_port: "8088"
radosgw_frontend_options: "num_threads=100"