{{ aio_hostname | default(ansible_hostname) }}   ansible_connetion=local  ansible_user=ansible

[mons]
{{ aio_hostname | default(ansible_hostname) }}

[osds]
{{ aio_hostname | default(ansible_hostname) }}

[mgrs]
{{ aio_hostname | default(ansible_hostname) }}

[rgws]
{{ aio_hostname | default(ansible_hostname) }}
